.mainbody {
    background-color: rgb(236, 219, 197);
    font-family: Arial, Helvetica, sans-serif;
}

.common{
    border: 2px solid rgb(236, 219, 197);
    position: absolute;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    color: rgb(255, 255, 255);
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    background-image: url("Images/Summers_Day.jpg");
    background-position: bottom right;
    text-align: Center;
}

.leftmenu {
    top: 114px;
    left: 5px;
    width: 75px;
    bottom: 39px;
    z-index: 1;
    padding-top: 5px;
    border-right: solid 1px #000000;
    text-align: center;
    background-color: rgb(236, 219, 197);
}

.menufont {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: black;
}

.main {
    top: 114px;
    left: 87px;
    right: 5px;
    text-align: left;
    background-color: rgb(236, 219, 197);
}

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 8px;
    color: #999999;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}

.subheading {
    font-family: cursive;
    font-size: 30px;
    color: rgb(103, 64, 140);
    text-decoration-line: underline;
}

.orderedlist {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}